@CHARSET "ISO-8859-1";
table tr#error{
	visibility:collapse;
	}

table tr#mobileNo{
	visibility:collapse;
	}
	
table tr#mobileNoSubmit{
	visibility:collapse;
	}	
table tr#dob{
	visibility:collapse;
	}

table tr#dobSubmit{
	visibility:collapse;
	}

table tr#passwordSubmit{
	visibility:collapse;
	}
#passwordForm {
  padding-top:20px;
  color: #333;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 300;
  line-height: 40px;
  border-spacing: 5;
  border: 1px solid #428bca;
  width: 600px;
  height: 275px;
  margin: 20px auto;
  border: 2px solid;
  border-radius: 10px;
  border-color: #1C415B;
  font-size: 16px;
}